.body1 {

	border-bottom: solid 2px black;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.4)), url('./banner.jpg');
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
    height: 70vh;    
    border-bottom: 3px solid gold;
	
}

.textbox {

	display: flex;
	height: 500px;
	flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}



p {
 	
  margin:4%;
  margin-top: 17%;
	color: #fff;
	font-size: 400%;
  text-align: center;
   
}
h1 {
  text-align: center;
  font-size: 250%;
  color:#231F20;
}
h2 {
  text-align: center;
  color:#231F20;
}

.bigp {
  font-size: 500%;
  margin-top:0;
}



img {
  height: 200px;
  width: 200px;
  padding-left:20px;
  padding-right:20px;
  margin-bottom: 50px;
  

}

.aboutmetext2 {
  margin:1%;
  font-size:250%;
  color:#231F20;
  margin-bottom: 5%;
}
.aboutmetext {  
  margin-top:20px;
  font-size: 170%;
  color: #231F20;
  width: 400px;
  text-align: center;


}
.linkis {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 5%;

}
.aboutme {

  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
  align-items: center;
  


}
.me {
  width: auto;
  transform:scale(1.4);
  border-radius: 30%;
  margin-top: 30px;
  margin-bottom: 35px;
}

   
.containerB {
  padding:0%;
  margin:10px;
  position: relative;
  width: 500px;
  overflow: hidden;
  cursor:pointer;
  background-color: #000;
  border: 5px solid grey;
  box-shadow: 10px 10px 20px #777;

}

.imageB {
  display: block;
  width: 100%;
  height:100%;
  opacity: 0.9;
  padding-left: 0;

  
}

.overlayB {
  z-index:1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 1%; 
  background-color: rgba(0,0,0,0.4);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  cursor:pointer;

}

.containerB:hover .overlayB {
  height: 0;
  cursor:pointer;
}


.textB {
  z-index:1;
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 

}
.textB p {
  color:white;
  font-size:115%;
  margin:3%;
}
.textB img {
  margin-top:20%;
  margin-bottom:4%;
  height:100px;
  width: auto;
}



@media only screen and (max-width: 650px) {
  .textbox, .aboutme {
    font-size: 63%;
    padding-top: 15%;
  }
  .linkis {
    display: flex;
    flex-wrap: wrap;

  }
  .body1 {
    height: 60vh;
  }

  .containerB {
    width: 300px;
  }

  .me {
    transform:scale(1.2);
    margin-top: 10px;
    margin-bottom: 15px;
  }

}





