.backgroundfeat {
  height: auto;
  background-color:#F6F6F6;
  display:flex;
  flex-direction:column;
 }



.Features {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  margin: 5%;
}

img {
  padding:0;
  margin:0;
}

@media only screen and (max-width: 650px) {
  .feature  {
    justify-content: space-around;
  }
}
