.footer1 {
	height: 230px;
	border-top:1px solid  gold;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
box-shadow:inset 0 0 10px #000000;
	
}

.socialMenu {
	margin-right: 25px;
	margin-top:5%;
	list-style: none;
	display: flex;
	justify-content: center;
}
.footerblock {
	
	height:230px;
}
.copyright {
	font-size: 100%;
	margin-top: 5%;
	color:white;
}
.socialicon1, .socialicon2, .socialicon3, .socialicon4  {
	width: 80px;
	height: 80px;
	margin:2% 1%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.socialicon1:hover,.socialicon2:hover, .socialicon3:hover, .socialicon4:hover {
	
	width: 80px;
	height: 80px;
	margin:2% 1%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.socialicon1 {

	background-color: ;
}
.socialicon1:hover {
	background-color: rgba(255,255,255,0.2);
	cursor:pointer;
}
.socialicon2 {
	background-color: ;
}
.socialicon2:hover {
	background-color: rgba(255,255,255,0.2);
	cursor:pointer;
}
.socialicon3 {
	background-color: ;
}
.socialicon3:hover {
	background-color: rgba(255,255,255,0.2);
	cursor:pointer;
}
.socialicon4 {
	background-color: ;
}	
.socialicon4:hover {
	background-color: rgba(255,255,255,0.2);
	cursor:pointer;
}



